{% extends 'base/_layout_security.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.5/css/fileinput.min.css" integrity="sha512-A/XiYKl0I56Nxg43kogQlAnLUbGRVGcT3J2Ni9b73+blF89rmMJ6qL9iHhPR/vDOsjcylhEoiQfzHzGHS+K/lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
    <div class="container-login100">
        <div class="wrap-login100 flex-row">
            {{ form_start(form, {'attr': {'class': 'login100-form pt-10 validate-form' }}) }}
            <img src="{{ asset('assets/img/logo.png') }}" class="login100-form-logo" width="125px">
            <span class="login100-form-title p-b-43">
                Réinitialiser votre mot de passe
            </span>
                <div style="background-color: white" class="wrap-input50 validate-input" data-validate="Ce champ est requis">
                    {{ form_widget(form.password.first, {'attr': {'class': 'input50'}}) }}
                    <span class="focus-input50"></span>
                    <span class="label-input50">{{ form_label(form.password.first) }}</span>
                </div>
                <div style="background-color: white" class="wrap-input50 validate-input" data-validate="Ce champ est requis">
                    {{ form_widget(form.password.second, {'attr': {'class': 'input50'}}) }}
                    <span class="focus-input50"></span>
                    <span class="label-input50">{{ form_label(form.password.second) }}</span>
                </div>
            <div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn">
                    S'inscrire
                </button>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            <div class="login100-more" style="background-image: url('{{ asset('layout/assets/images/breadcrumb-bg.jpg') }}');">
                <h2>Bienvenue sur notre plateforme</h2><br>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="p">
                        Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.5/js/fileinput.min.js" integrity="sha512-1FvXwt9wkKd29ilILHy0zei6ScE5vdEKqZ6BSW+gmM7mfqC4T4256OmUfFzl1FkaNS3FUQ/Kdzrrs8SD83bCZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
