{% extends 'layout.html.twig' %}

{% block title %}Nouveau sujet{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('layout/assets/css/proposition.css') }}">
{% endblock %}
{% block pageHeader %}
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Nouveau sujet</h5>
                        <p class="m-b-0">Ajouter un nouveau sujet</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="{{ path('home') }}"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Mes sujets</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Nouveau sujet</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-block row">
                    {% for p in proposition %}
                        <div class="col-xl-4 col-md-6 col-sm-12">
                            <div class="content">
                                <div class="card-wrap">
                                    <div class="firstinfo">
                                        {% if p.user.pictureStudent != "" %}
                                            <img src="/uploads/profile/{{ p.user.pictureStudent }}" alt=""/>
                                        {% else %}
                                            <img src="/uploads/profile/default.png" alt=""/>
                                        {% endif %}
                                        <div class="profileinfo">
                                            <h4>{{ p.user.name~' '~p.user.firstname }}</h4>
                                            <h3>
                                                {% for s in p.user.specialties %}
                                                {{ s.matiere.nom~', ' }}
                                                {% endfor %}
                                            </h3>
                                            <div class="bio">
                                                {#<span class="my-1">MATIÈRE: Math</span>#}
                                                <span class="my-1">TARIF: {{ p.prestations.tarif }} &euro;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="badgescard">
                                    <form action="{{ path('payment') }}" method="post">
                                        <input name="tarif" type="text" value="{{ p.prestations.tarif }}" class="hidden">
                                        <input class="btn btn-primary" type="submit" value="Accepter">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
